<template lang="pug">
  div#app
    p Key: {{key}}
    p Secret: {{secret}}
    p Session: {{session}}
</template>

<script>
import AWS from "aws-sdk";

function query(docClient) {
  var params = {
    TableName: "users",
    KeyConditionExpression: "#sc = :school",
    ExpressionAttributeNames: {
      "#sc": "school"
    },
    ExpressionAttributeValues: {
      ":school": "BYU"
    }
  };
  return new Promise(function(resolve, reject) {
    docClient.query(params, function(err, data) {
      if (err) {
        console.log(
          "Unable to query table: " + "\n" + JSON.stringify(err, undefined, 2)
        );
        reject(err);
      } else {
        console.log("Query complete", data);
        resolve(data);
      }
    });
  });
}

const REGION = "us-east-2";

export default {
  name: "app",
  created() {
    var self = this;
    AWS.config.update({ region: REGION });
    AWS.config.credentials = new AWS.CognitoIdentityCredentials({
      IdentityPoolId: "us-east-2:1342365c-dbe0-45a0-81e2-f573166cc4df"
    });

    var dynamodb = new AWS.DynamoDB();
    var docClient = new AWS.DynamoDB.DocumentClient();

    AWS.config.credentials.get(function() {
      // Credentials will be available when this function is called.
      self.key = AWS.config.credentials.accessKeyId;
      self.secret = AWS.config.credentials.secretAccessKey;
      self.session = AWS.config.credentials.sessionToken;
      var lambda = new AWS.Lambda({
        region: REGION,
        apiVersion: "2015-03-31"
      });
      // create JSON object for parameters for invoking Lambda function
      var pullParams = {
        FunctionName: "queryEvents",
        InvocationType: "RequestResponse",
        LogType: "None",
        Payload: '{"school":"X"}'
      };
      // create variable to hold data returned by the Lambda function
      var pullResults;
      lambda.invoke(pullParams, function(error, data) {
        if (error) {
          alert(error);
        } else {
          console.log("success");
          pullResults = JSON.parse(data.Payload);
          console.log(pullResults);
        }
      });
      console.log(docClient);
      query(docClient).then(result => {
        console.log(result);
      });
    });
  },
  data() {
    return {
      key: "",
      secret: "",
      session: ""
    };
  }
};
</script>

<style>
html,
body {
  color: white;
  background: #2c3e50;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 60px;
}
#app p {
  font-size: small;
}
</style>
