<template lang="pug">
  span(@click="$emit('update:msg', '')" :class="{ 'error-msg': isError,'success-msg': !isError }" v-if="msg.length") {{msg}}
</template>

<script>
export default {
  name: "result-msg",
  created() {},
  props: {
    msg: { default: "", type: String },
    isError: { default: true, type: Boolean }
  },
  data() {
    return {};
  },
  methods: {}
};
</script>

<style>
.error-msg {
  color: tomato;
  font-size: small;
}
.success-msg {
  color: greenyellow;
  font-size: small;
}
</style>
