<template lang="pug">
  div#app
    div#topRow
      div#formArea
        p
          h4 sign up
          input(placeholder="username" v-model="username")
          br
          input(type="password" placeholder="password" v-model="password")
          br
          button(@click="signUp") create user
          p.error-msg(@click="signUpError=''" v-if="signUpError.length") ERROR: {{signUpError}}
        p
          h4 confirm user
          input(placeholder="secret" size="6" v-model="secret")
          br
          button(@click="confirmUser(secret)") confirm user
          p.error-msg(@click="confirmError=''" v-if="confirmError.length") ERROR: {{confirmError}}
        p
          h4 sign in
          input(placeholder="username" v-model="usernameSignin")
          br
          input(type="password" placeholder="password" v-model="passwordSignin")
          br
          button(@click="signIn") sign in
          button(@click="signOut") sign out
          p.error-msg(@click="signInError=''" v-if="signInError.length") ERROR: {{signInError}}
      div#userArea
        div#userControls(v-if="signedIn")
          p signed in!
          div
            span accessToken (Cognito): 
            span.abbr.var(:title="signInDetails.getAccessToken().getJwtToken()") {{signInDetails.getAccessToken().getJwtToken().substring(0,10)}}...
          button(@click="getAwsCredentials") Get AWS credentials
          div
            span accessKeyId (AWS): 
            span.var {{awsCredentials.accessKeyId}}
          div
            span secretAccessKey (AWS): 
            span.var {{awsCredentials.secretAccessKey}}
          hr
          input(placeholder="school" size="10" v-model="insSchool")
          input(placeholder="title" size="10" v-model="insertTitle")
          input(placeholder="location" size="10" v-model="insertLocation")
          br
          input(placeholder="startTime" v-model="insertStartTime")
          label {{longStartTime}}
          br
          input(placeholder="endTime" v-model="insertEndTime")
          label {{longEndTime}}
          br
          button(@click="runInsert({insSchool,insertTitle,insertLocation,insertStartTime,insertEndTime})") insert event
          p.error-msg(@click="insertError=''" v-if="insertError.length") ERROR: {{insertError}}
          div
            span lastEventUser (DynamoDB): 
            span.var {{lastEventUser}}
          div
            span lastEventId (DynamoDB): 
            span.var {{lastEventId}}
        div(v-else)
          p not signed in
    div#queryArea
      input(placeholder="school" v-model="querySchool")
      button(@click="runQuery") query events
      p
        result-msg(:msg.sync="queryMsg" :isError="queryError")
      p(v-for="result,index in queryResults" :key="index")
        span {{result.title}} 
        span(style="color:#aff") @{{result.location}} 
        span(style="color:#666") {{result.startTime}}
        button(@click="runDelete(result)") delete event
        result-msg(:msg.sync="result.msg" :isError="result.err?result.err:false")
</template>

<script>
import AWS from "aws-sdk";
import {
  CognitoUserPool,
  CognitoUserAttribute,
  CognitoUser,
  AuthenticationDetails
} from "amazon-cognito-identity-js";
import moment from "moment";

import ResultMsg from "./ResultMsg.vue";

var dynamodb = null;
var docClient = null;
function uuid(a) {
  return a
    ? (a ^ ((Math.random() * 16) >> (a / 4))).toString(16)
    : ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, uuid);
}

export default {
  name: "sign-in",
  components: {
    "result-msg": ResultMsg
  },
  created() {
    this.userPool = new CognitoUserPool(this.poolData);
    AWS.config.update({ region: this.region });
    dynamodb = new AWS.DynamoDB();
  },
  data() {
    return {
      region: "us-west-2",
      // sign up
      username: "",
      password: "",
      signUpError: "",
      // confirmation
      secret: "",
      confirmError: "",
      // sign in
      usernameSignin: "",
      passwordSignin: "",
      signInError: "",
      cognitoSignInUser: null,
      // auth
      cognitoUser: null,
      poolData: {
        UserPoolId: "us-west-2_Z16a9bwvn",
        ClientId: "3mq1ijcjqcg4delqe9rlvb2e93"
      },
      userPool: null,
      currentUser: null,
      identityId: null,
      signedIn: false,
      signInDetails: null,
      awsCredentials: {},
      // query
      queryMsg: "",
      queryError: false,
      querySchool: "",
      queryResults: [],
      // insert
      lastEventUser: "",
      lastEventId: "",
      insSchool: "",
      insertTitle: "",
      insertLocation: "",
      insertStartTime: new Date().toISOString(),
      insertEndTime: new Date().toISOString(),
      insertError: "",
      // delete
      deleteUser: "",
      deleteId: "",
      deleteError: ""
    };
  },
  computed: {
    longStartTime() {
      return moment(this.insertStartTime).format("llll");
    },
    longEndTime() {
      return moment(this.insertEndTime).format("llll");
    }
  },
  methods: {
    signUp() {
      console.log("signUp");
      var self = this;
      var attributeList = [
        new CognitoUserAttribute({
          Name: "email",
          Value: this.username
        })
      ];
      self.userPool.signUp(
        this.username,
        this.password,
        attributeList,
        null,
        function(err, result) {
          if (err) {
            console.log("error", err);
            self.signUpError = err.message;
            return;
          }
          console.log("success", err, result);
          self.signUpError = "";
          self.cognitoUser = result.user;
        }
      );
    },
    confirmUser() {
      var self = this;
      console.log("confirmUser");
      if (self.cognitoUser === null) {
        self.confirmError = "Create a user first.";
        return;
      }
      self.cognitoUser.confirmRegistration(self.secret, true, function(
        err,
        result
      ) {
        if (err) {
          console.log(err);
          self.confirmError = err.message;
          return;
        }
        console.log(result);
        self.confirmError = "";
      });
    },
    signIn() {
      console.log("signIn");
      var self = this;
      if (self.cognitoSignInUser !== null) {
        self.signOut();
      }
      var userData = {
        Username: self.usernameSignin,
        Pool: self.userPool
      };
      var authenticationData = {
        Username: self.usernameSignin,
        Password: self.passwordSignin
      };
      var authenticationDetails = new AuthenticationDetails(authenticationData);

      self.cognitoSignInUser = new CognitoUser(userData);
      self.cognitoSignInUser.authenticateUser(authenticationDetails, {
        onSuccess: function(result) {
          console.log("success", result);
          self.signInError = "";
          self.signedIn = true;
          self.signInDetails = result;
          self.currentUser = self.userPool.getCurrentUser();
        },
        onFailure: function(err) {
          console.log("error", err);
          self.signInError = err.message;
          self.cognitoSignInUser = null;
        },
        mfaRequired: function(codeDeliveryDetails) {
          var verificationCode = prompt("Please input verification code", "");
          self.cognitoSignInUser.sendMFACode(verificationCode, this);
        }
      });
    },
    signOut() {
      console.log("signOut");
      var self = this;
      if (self.cognitoSignInUser === null) {
        console.log("error");
        self.signInError = "There is no active user.";
      } else {
        self.cognitoSignInUser.signOut();
        console.log("success");
        AWS.config.credentials.clearCachedId();
        AWS.config.update({ credentials: null });
        self.cognitoSignInUser = null;
        self.identityId = null;
        self.signedIn = false;
        self.signInError = "";
        self.awsCredentials = {};
        self.currentUser = null;
        self.signInDetails = null;
      }
    },
    getAwsCredentials() {
      // TODO: "Logins don't match. Please include at least one valid login
      // for this identity or identity pool." figure out why this happens sometimes
      console.log("getAwsCredentials");
      var self = this;
      AWS.config.credentials = new AWS.CognitoIdentityCredentials({
        IdentityPoolId: "us-west-2:1de39198-f8c9-4327-ac3b-b9c2d111c02a",
        Logins: {
          "cognito-idp.us-west-2.amazonaws.com/us-west-2_Z16a9bwvn": self.signInDetails
            .getIdToken()
            .getJwtToken()
        }
      });
      AWS.config.credentials.get(function(err) {
        if (err) {
          console.log("error", err);
          self.awsCredentials = {};
          return;
        }
        console.log("success", AWS.config.credentials);
        self.awsCredentials = AWS.config.credentials;
        self.identityId = AWS.config.credentials.identityId;
      });
    },
    runQuery() {
      this.query()
        .then(data => {
          console.log(data);
          this.queryResults = data.Items;
          this.queryMsg = "Query complete";
          this.queryError = false;
        })
        .catch(err => {
          console.log(err);
          this.queryResults = "";
          this.queryMsg = err.message;
          this.queryError = true;
        });
    },
    query() {
      docClient = new AWS.DynamoDB.DocumentClient();
      var self = this;
      var params = {
        TableName: "EventDev",
        IndexName: "school-id-index",
        KeyConditionExpression: "#sc = :school",
        ExpressionAttributeNames: {
          "#sc": "school"
        },
        ExpressionAttributeValues: {
          ":school": self.querySchool
        }
      };
      return new Promise(function(resolve, reject) {
        if (self.querySchool.length === 0) {
          reject({ message: "An event query must specify a school." });
        }
        docClient.query(params, function(err, data) {
          if (err) {
            reject(err);
          } else {
            resolve(data);
          }
        });
      });
    },
    runInsert(eventData) {
      const self = this;
      self
        .insertEvent(eventData)
        .then(data => {
          console.log(data);
          self.insertError = "";
          self.lastEventUser = data.Item.createdBy;
          self.lastEventId = data.Item.id;
        })
        .catch(err => {
          console.log(err);
          self.insertError = err.message;
          self.lastEventUser = "";
          self.lastEventId = "";
        });
    },
    insertEvent(eventData) {
      const self = this;
      // TODO: figure out when I need to create a new docClient object
      docClient = new AWS.DynamoDB.DocumentClient();
      var params = {
        TableName: "EventDev",
        Item: {
          createdBy: self.identityId,
          id: uuid(),
          school: eventData.insSchool || "",
          title: eventData.insertTitle || "",
          location: eventData.insertLocation || "",
          startTime: eventData.insertStartTime || "",
          endTime: eventData.insertEndTime || ""
        }
        //ConditionExpression: "attribute_not_exists(id)"
      };
      return new Promise(function(resolve, reject) {
        docClient.put(params, function(err, data) {
          if (err) {
            reject(err);
          } else {
            resolve(params);
          }
        });
      });
    },
    runDelete(queryResult) {
      const self = this;
      console.log("deleting user...");
      self
        .deleteEvent(queryResult.createdBy, queryResult.id)
        .then(data => {
          console.log("DeleteItem succeeded", data);
          self.$set(queryResult, "msg", "deleted");
          self.$set(queryResult, "err", false);
        })
        .catch(err => {
          console.log(
            "Unable to delete item: " + "\n" + JSON.stringify(err, undefined, 2)
          );
          self.$set(queryResult, "msg", err.message);
          self.$set(queryResult, "err", true);
        });
    },
    deleteEvent(createdBy, id) {
      const self = this;
      docClient = new AWS.DynamoDB.DocumentClient();
      var params = {
        TableName: "EventDev",
        Key: {
          createdBy,
          id
        }
      };
      return new Promise(function(resolve, reject) {
        docClient.delete(params, function(err, data) {
          if (err) {
            reject(err);
          } else {
            resolve(params);
          }
        });
      });
    }
  }
};
</script>

<style>
html,
body {
  color: white;
  background: #2c3e50;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#topRow {
  display: flex;
  flex-direction: row;
}
#formArea {
  flex: 1 0 10%;
  margin: 20px;
}
#userArea {
  flex: 2 0 10%;
  margin: 20px;
}
#userArea,
#queryArea {
  border: solid 1px white;
  padding-left: 10px;
}
.var {
  color: yellow;
}
.abbr {
  text-decoration: underline;
  text-decoration-style: dotted;
}
.error-msg {
  color: tomato;
  font-size: small;
}
.success-msg {
  color: seagreen;
  font-size: small;
}
label {
  margin-left: 5px;
}
button {
  margin-top: 5px;
}
.results {
  white-space: pre-wrap;
}
</style>
